name: Build LaTeX document
on: [push]
jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v6
      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v4
        with:
          root_file: dissertation.tex
          latexmk_use_lualatex: true
          latexmk_shell_escape: true
          work_in_root_file_dir: true
          extra_system_packages: "inkscape"
          args: -pdf -jobname=Thesis -file-line-error -halt-on-error -interaction=nonstopmode
      - name: Upload PDF file
        uses: actions/upload-artifact@v5
        with:
          name: PDF
          path: Thesis.pdf
